<mat-card>
  <div class="workspace__header">
    <h2>{{ workspace.name }}</h2>
    <button (click)="onRemove()" mat-icon-button appClickStopPropagation>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <canvas #canvasRef [height]="150" [width]="150" class="canvas"></canvas>
  <div class="workspace__label"><b>Created: </b> {{ workspace.createdDate | date }}</div>
  <div class="workspace__label"><b>Created by: </b> {{ workspace.createdByName }}</div>
  <div class="workspace__visibility"><mat-icon>visibility</mat-icon> {{ workspace.views }}</div>
</mat-card>
