:host {
  display: block;
}

.layer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-left: 10px;
  border-bottom: 1px solid #888;

  &:last-child {
    border-bottom: none;
    border-bottom: 0;
  }

  &._active {
    background-color: #eee;
  }
}

.footer {
  padding-top: 10px;
}
