:host {
  display: block;
  width: 30px;
  height: 30px;
}

.color-picker-container {
  input {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.color-block {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
