<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <button *ngIf="isBackShown$ | async" (click)="back()" mat-button class="back-btn">
    <mat-icon>arrow_back_ios</mat-icon>
    Back
  </button>

  <span class="spacer"></span>
  {{ username$ | async }}
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button *ngIf="!(username$ | async)" (click)="login()" mat-menu-item>
    Login
    <mat-icon>login</mat-icon>
  </button>
  <button (click)="createNew()" mat-menu-item>
    Create new
    <mat-icon>add_circle_outline</mat-icon>
  </button>
  <button mat-menu-item>
    Share
    <mat-icon>share</mat-icon>
  </button>
  <button *ngIf="username$ | async" (click)="logout()" mat-menu-item>
    Logout
    <mat-icon>logout</mat-icon>
  </button>
</mat-menu>
