:host {
  display: block;
}

.canvas-box {
  width: 100%;
  height: calc(100% - 67px);
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.main-canvas {
  border: 1px solid black;
  cursor: none;
}

.tools-container {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
}

.layers-container {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 230px;
  bottom: 140px;
  left: 30px;
  right: 0;
}

.layers {
  width: 100%;
}

.tools {
  position: fixed;
  margin-left: 0 auto;
  margin-right: 0 auto;
}
