:host {
  display: block;
}

::ng-deep {
  .mat-button {
    padding: 5px 5px !important;
  }
}

button {
  &._active {
    background: #eee;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.control-btn {
  margin-right: 10px;
}
