<mat-card>
  <button (click)="onSelectBrush()" mat-button>
    <mat-icon>brush</mat-icon>
  </button>
  <button (click)="onResizeBrush()" mat-button>
    <mat-icon>line_weight</mat-icon>
  </button>
  <button (click)="onSelectFill()" mat-button>
    <mat-icon>format_color_fill</mat-icon>
  </button>
  <button (click)="onSelectRectangle()" mat-button>
    <mat-icon>crop_square</mat-icon>
  </button>
  <button (click)="onSelectEllipse()" mat-button>
    <mat-icon>radio_button_unchecked</mat-icon>
  </button>
  <button (click)="onSelectLine()" mat-button>
    <mat-icon>horizontal_rule</mat-icon>
  </button>
  <button (click)="onResizeCanvas()" mat-button>
    <mat-icon>photo_size_select_large</mat-icon>
  </button>
</mat-card>
